@model UltraCryptoFolio.ViewModels.TradeViewModel

@{
    ViewData["Title"] = "NewTrade";
}

<h2>New Trade</h2>

<form asp-action="NewTrade">
    <div class="form">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row">
            <label asp-for="DateTime" class="col-md-2 control-label"></label>
            <div class="col-md-3">
                <input asp-for="DateTime" class="form-control" />
                <span asp-validation-for="DateTime" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="AmountSpent" class="col-md-2 control-label"></label>
            <div class="col-md-3">
                <input asp-for="AmountSpent" class="form-control" id="AmountSpent"/>
                <span asp-validation-for="AmountSpent" class="text-danger"></span>
            </div>
            <div class="col-md-1">
                <a class="btn btn-outline-secondary" style="border: 1px solid #59c7a6;" onclick="InputMax(@ViewBag.MaxValues)">Max</a>
            </div>
            <div class="col-md-1">
                <a class="btn btn-outline-secondary" style="border: 1px solid #59c7a6;" onclick="InputHalf(@ViewBag.MaxValues)">Half</a>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="SpendingCurrency" class="col-md-2 control-label"></label>
            <div class="col-md-3">
                <select asp-for="SpendingCurrency" class="form-control" asp-items="Html.GetEnumSelectList<UltraCryptoFolio.Models.CryptoCurrency>()" id="SpendingCurrency"></select>
                <span asp-validation-for="SpendingCurrency" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="AmountReceived" class="col-md-2 control-label"></label>
            <div class="col-md-3">
                <input asp-for="AmountReceived" class="form-control" />
                <span asp-validation-for="AmountReceived" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="ReceivingCurrency" class="col-md-2 control-label"></label>
            <div class="col-md-3">
                <select asp-for="ReceivingCurrency" class="form-control" asp-items="Html.GetEnumSelectList<UltraCryptoFolio.Models.CryptoCurrency>()"></select>
                <span asp-validation-for="ReceivingCurrency" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="ExchangeRate" class="col-md-2 control-label"></label>
            <div class="col-md-3">
                <input asp-for="ExchangeRate" class="form-control" />
                <span asp-validation-for="ExchangeRate" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="Fee" class="col-md-2 control-label"></label>
            <div class="col-md-3">
                <input asp-for="Fee" class="form-control" />
                <span asp-validation-for="Fee" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-primary" style="background-color:#59c7a6; border:none" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}