

<button type="button" class="btn btn-outline-primary" asp-action="Index">Holdings percentage</button>
<button type="button" class="btn btn-outline-primary" asp-action="ValueOverTime">Performance</button>