<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link alert-secondary @(ViewBag.Current == "Index" ? "active" : "")" asp-action="Index">Holdings</a>
    </li>
    <li class="nav-item">
        <a class="nav-link alert-secondary @(ViewBag.Current == "ValueOverTime" ? "active" : "")" asp-action="ValueOverTime">Performance</a>
    </li>
</ul>