<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" asp-action="Index">Holdings</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-action="ValueOverTime">Performance</a>
    </li>
</ul>