@model TransactionViewModel
@using UltraCryptoFolio.Models.Enums;


    <tr>
        <th><label asp-for="DateTime">Date</label></th>
        <th><label asp-for="SpentCurrency">Spent currency</label></th>
        <th><label asp-for="SpentCurrencyPrice">Spent price</label></th>
        <th><label asp-for="AmountSpent">Spent amount</label></th>
        <th><label asp-for="ReceivedCurrency">Received currency</label></th>
        <th><label asp-for="ReceivedCurrencyPrice">Received price</label></th>
        <th><label asp-for="AmountReceived">Received amount</label></th>
        <th><label asp-for="Fee">Fee</label></th>
        <th>Submit</th>
    </tr>