@{
    ViewData["Title"] = "About";
}

<h2>About</h2>

<h3>Getting started</h3>

<p>
    This webpage can be used to track the performance of your CryptoCurrency portfolio.
    You can enter your transactions and the webpage will calculate your worth, growth and performance.
    Press the "Example data" button now on the homepage and get a feel for what this website can do.
</p>
<p>
    Your transactions are not saved, they are stored in your browser via cookies.
    This means that if you switch browser (Internet Explorer, Firefox, Chrome etc) or device your inputs will be lost.
    Your data is saved for about 20 minutes. After that it will also be lost.
    We are working on a better means of storage.
    Whenever your entered a lot of data or data you would like to see again
    , please make sure to export using the export button on the homepage.
</p>
<p>
    Once you made an export you can import your portfolio on the homepage.
    You can now view your data again. Be sure to export again if you made any changes.
</p>

<h3>About this project</h3>

<p>
    UltraCryptoFolio is a passion project to learn software engineering.
    I am still working on implementing new features and improvements every day.
    Maybe, someday, someone else besides me will actually use it :).
</p>