@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>I am currently rebuilding the website with new technology and things I learned. Please be patient, updates coming in the next few weeks.</p>
    <p>I'm planning to make a login system so you don't have to save your files to your local machine anymore. Registering should be the first feature to go live.</p>
    <p>Also on the list is actually useful graphs, with improvements to the api. </p>
</div>
