@{
    ViewData["Title"] = "Index";
}

@{await Html.RenderPartialAsync("_GraphsMenuPartial");}

<h2>Relative Portfolio holdings</h2>

<canvas id="doughnutContainer" class="chartjs-render-monitor"></canvas>

<script type="text/javascript">
    var config = {
        type: 'doughnut',
        data: {
            datasets: [{
                data: @ViewBag.Data,
                backgroundColor: @Html.Raw(ViewBag.Colors)
            }],
            labels: @Html.Raw(ViewBag.Labels)
        },
        options: {
            responsive: true,
            legend: {
                position: 'top'
            },
            animation: {
                animateScale: true,
                animateRotate: true
            }
        }
    }

    window.onload = function () {
        var ctx = document.getElementById("doughnutContainer").getContext("2d");
        window.myDoughnut = new Chart(ctx, config);
    }
</script>