
@{
    ViewData["Title"] = "ValueOverTime";
}

@{await Html.RenderPartialAsync("_GraphsMenuPartial");}

<h2>Your portfolio over time</h2>

<div class="alert alert-danger">
    <strong>Warning!</strong> This chart is not representing your portfolio data yet, it is still in development.
</div>

<div id="linechartContainer"></div>

<script type="text/javascript">
    window.onload = function () {
        var chart = new CanvasJS.Chart("linechartContainer", {
            theme: "theme2",
            animationEnabled: true,
            animationEnabled: true,
            data: [
                {
                    type: "area",
                    dataPoints: @Html.Raw(ViewBag.Data),
                    showInLegend: true,
                    indexLabelFontColor: "darkgrey",
                    indexLabelLineColor: "darkgrey"
                }
            ]
        });
        chart.render();
    };
</script>