
@{
    ViewData["Title"] = "ValueOverTime";
}

@{await Html.RenderPartialAsync("_GraphsMenuPartial");}

<h2>Your portfolio over time (weekly)</h2>

<div class="alert alert-warning">
    <a href="#" class="close" data-dismiss="alert">&times;</a>
    Weekly portfolio shows data of only the last six weeks. This is a workaround, we are working on a more permamnent solution.
</div>

<canvas id="areaContainer" class="chartjs-render-monitor"></canvas>

<script type="text/javascript">
    var config = {
        type: 'line',
        data: {
            datasets: [{
                data: @ViewBag.CryptoData,
                label: 'Cryptocurrencies value',
                backgroundColor: 'rgba(89, 199, 166, 0.5)',
                lineTension: 0
            },
            {
                data: @ViewBag.InvestmentData,
                label: 'Investment value',
                backgroundColor: 'rgba(0, 71, 153, 0.5)',
                lineTension: 0
            }],
            labels: @Html.Raw(ViewBag.Labels)
        },
        options: {
            responsive: true,
            legend: {
                position: 'top'
            },
            scales: {
                xAxes: [{
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: "Week"
                    }
                }],
                yAxes: [{
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: "Value"
                    },
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    }

    window.onload = function () {
        var ctx = document.getElementById("areaContainer").getContext("2d");
        window.myDoughnut = new Chart(ctx, config);
    }
</script>