
@{
    ViewData["Title"] = "ValueOverTime";
}

@{await Html.RenderPartialAsync("_GraphsMenuPartial");}

<h2>Your portfolio over time (weekly)</h2>

<div class="alert alert-warning">
    <a href="#" class="close" data-dismiss="alert">&times;</a>
    Weekly portfolio shows data of only the last six weeks. This is a workaround, we are working on a more permamnent solution.
</div>

<div id="areachartContainer"></div>

<script type="text/javascript">
    window.onload = function () {
        var chart = new CanvasJS.Chart("areachartContainer", {
            theme: "theme2",
            animationEnabled: true,
            animationEnabled: true,
            axisX: {
                title: "Week",
            },
            axisY: {
                title: "Value",
            },
            data: [
                {
                    type: "area",
                    legendText: "Cryptocurrency value",
                    showInLegend: true, 
                    xValueType: "dateTime",
                    dataPoints: @Html.Raw(ViewBag.Data)
                },
                {
                    type: "area",
                    legendText: "Investments made",
                    showInLegend: true, 
                    xValueType: "dateTime",
                    dataPoints: @Html.Raw(ViewBag.SecondData)
                }
            ]
        });
        chart.render();
    };
</script>