
@{
    ViewData["Title"] = "AccountVerificationFailed";
}

<h1>Account verification failed</h1>

<div class="alert alert-warning" role="alert">
    The account verification process has not been successful.
</div>