
@{
    ViewData["Title"] = "RegisterCompleted";
}

<h1>Account registered!</h1>

<p>Your account is now registered. Please validate your account by clicking the link in the email.</p>


<div class="alert alert-warning" role="alert">
    If you can't find our email, please check your spam folder.
</div>