@model PortfolioViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Portfolio</h1>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Indicator</th>
            <th scope="col">Amount</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">Total current portfolio worth</th>
            <td>@Model.TotalWorth</td>
        </tr>
        <tr>
            <th scope="row">Total invested</th>
            <td>@Model.TotalInvested</td>
        </tr>
        <tr>
            <th scope="row">Profit/Loss</th>
            <td>@Model.TotalProfitLoss</td>
        </tr>
    </tbody>
</table>