@model UltraCryptoFolio.Models.Portfolio

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<table class="table">
    <thead>
        <tr>
            <th>Currency</th>
            <th>Amount</th>
            <th>Value (@Model.MonetaryCurrency)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var value in Model.PortfolioValues)
        {
            <tr>
                <td>@value.Currency</td>
                <td>@value.Amount</td>
                <td>@value.MonetaryValue</td>
            </tr>
        }
    </tbody>
</table>
