@model UltraCryptoFolio.Models.Portfolio

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<table class="table">
    <thead>
        <tr>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var value in Model.PortfolioValues) {
        <tr>
            <td>@value.Key.ToString()</td>
            <td>@value.Value</td>
        </tr>
}
    </tbody>
</table>
