@model UltraCryptoFolio.Models.Transaction

@{
               <script> $('#datetimepicker').datetimepicker()</script>
}

<div>
    <h1>Create New Transaction</h1>

    <form method="post">
        <div class="form-group row">
            <label asp-for="AmountReceived" class="col-md-4 col-form-label">Amount received (in sathoshi or cent)</label>
            <div class="col-md-2">
                <input asp-for="AmountReceived" class="form-control" placeholder="AmountReceived" />
            </div>
            <span asp-validation-for="AmountReceived"></span>
        </div>
        <div class="form-group row">
            <label asp-for="AmountSpent" class="col-md-4 col-form-label">Amount spent (in sathoshi or cent)</label>
            <div class="col-md-2">
                <input asp-for="AmountSpent" class="form-control" placeholder="AmountSpent" />
            </div>
            <span asp-validation-for="AmountSpent"></span>
        </div>
        <div class="form-group row">
            <label asp-for="DateTime" class="col-md-4 col-form-label">Date of Transaction</label>
            <div class="col-md-2">
                @*<input asp-for="DateTime" class="form-control datepicker" />*@
                <input class="form-control datepicker" asp-for="DateTime" type="text" id="datetimepicker" data-date-format="yyyy-mm-dd hh:ii">
            </div>
            <span asp-validation-for="DateTime"></span>
        </div>
        <div class="form-group row">
            <label asp-for="ReveicingCurrency" class="col-md-4 col-form-label"></label>
            <div class="col-md-2">
                <select asp-for="ReveicingCurrency" asp-items="@Html.GetEnumSelectList(typeof(UltraCryptoFolio.Models.Currency))" class="form-control"></select>
            </div>
            <span asp-validation-for="ReveicingCurrency"></span>
        </div>
        <div class="form-group row">
            <label asp-for="SpendingCurrency" class="col-md-4 col-form-label"></label>
            <div class="col-md-2">
                <select asp-for="SpendingCurrency" asp-items="@Html.GetEnumSelectList(typeof(UltraCryptoFolio.Models.Currency))" class="form-control"></select>
            </div>
            <span asp-validation-for="SpendingCurrency"></span>
        </div>
        <div class="form-group row">
            <label asp-for="ExchangeRate" class="col-md-4 col-form-label">Optional manual exchange rate</label>
            <div class="col-md-2">
                <input asp-for="ExchangeRate" class="form-control" placeholder="ExchangeRate" />
            </div>
            <span asp-validation-for="ExchangeRate"></span>
        </div>
        <div class="form-group row">
            <label asp-for="Fee" class="col-md-4 col-form-label">Optional fee</label>
            <div class="col-md-2">
                <input asp-for="Fee" class="form-control" placeholder="Fee" />
            </div>
            <span asp-validation-for="Fee"></span>
        </div>
        <div>
            <input asp-action="Save" type="submit" value="Save" class="btn btn-primary" />
        </div>
    </form>
</div>


